<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="btcSQL">
 	<insert id="insertBuy" parameterType="btc">
 		insert into btcbuy (seq,id,price,amount) values(btcbuy_seq.nextval,'bkm412',#{price},#{amount})
 	</insert>
 	<select id="getBuy" resultType="btc">
 		select * from btcbuy
 	</select>
 </mapper>